body {
  background-color: #95c2de;
}

.mainbox {
  background-color: #95c2de;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12rem;
    position:absolute;
    left: 20%;
    top: 28%;
  }

.far {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12rem;
  position: absolute;
  left: 44%;
  top: 28%;
}

 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12rem;
    position:absolute;
    left: 68%;
    top: 28%;
  }

.msg {
    text-align: center;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 75%;
    width: 75%;
  }

  .msg2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 75%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
